
@import '_generalUtilities';

$medium-screen: 64rem;

.social{
    @include custom-flex(row, center, center);
    @media screen and (max-width: $medium-screen){
        &-group{
            padding-left: 0 !important;
        }
    }
    margin-bottom:1rem;
    &-group{
        @include custom-flex(row, center, center);
        list-style-type: none;
    }
    &-item{
        @include custom-flex(row, center, center);
        min-width: 6rem;
        padding-left: .5rem;

        &-link{
            text-decoration: none;
            color: black;
            font-size: 1.25rem;

            &:hover{
                text-decoration: underline;
                color: lightblue;
            }
        }
    }
}
