.navbar{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-header{
        border-bottom: 1px solid lightslategray
    }

    &-list{
        display: inherit;
        flex-direction: inherit;
        list-style-type: none;
        flex: 1 1 0;
    }

    &-listitem{
        display: inherit;
        flex-direction: inherit;
        align-items: center;
        justify-content: center;
        min-width: 6rem;
        flex: 1 1 auto;

        &-link{
            display: inherit;
            flex-direction: inherit;
            align-items: center;
            text-decoration: none;
            font-weight: bolder;
            font-size: 1.25rem;
            color: unset;

            &:hover{
                text-decoration: underline;
                color: lightblue;
            }
        }
    }
}

