---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
const profileData = await getCollection('portfolio');
---

<BaseLayout 
  title="Wei-Han's Portfolio"
  description="Wei-Han Chen's portfolio. Software engineer, open source enthusiast, and lifelong learner."
  ogTitle="Wei-Han's Portfolio"
  ogDescription="Wei-Han Chen's portfolio. Software engineer, open source enthusiast, and lifelong learner."
>
  {
    profileData.map((p) => (
      <section class="intro-section">
        <h1 class="intro-title">{p.data.title}</h1>
        <p class="intro-subtitle">{p.data.subtitle} </p>
        <p class="intro-description">
          {p.data.description.split('\n').map((line) => (
            <>
              {line}
              <br />
            </>
          ))}
        </p>
      </section>
    ))
  }
</BaseLayout>
