---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Navbar from '../components/Navbar.astro';
import navbarData from '../data/navbar.json'
import Footer from '../components/Footer.astro'
import footerData from '../data/footer.json'
---

<Layout title="Welcome to Astro.">
	<Navbar importedData={navbarData}/>
	<main>
		<section>
			<h1>
				<a href="#">Hello, I am Wei Han Chen.</a>
			</h1>
			</a>
		</section>
		<section id="about">
			<h3>
				<a href="#about">This section is for About.</a>
			</h3>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit assumenda facilis ab mollitia fugiat quod blanditiis non, illo, facere totam ipsam iure dolorem repellat saepe ullam rem deserunt reiciendis? Labore?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora laboriosam recusandae amet, qui, laudantium enim quod sint expedita voluptate deleniti delectus numquam voluptatem cum unde eaque distinctio illum accusantium sed.
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus deleniti quisquam neque recusandae possimus excepturi inventore dolore, praesentium animi cupiditate unde ab illum natus officiis! Excepturi iste accusantium accusamus delectus.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit aliquam quidem quo quae dolorum quia aperiam doloribus corporis itaque veniam iure placeat aliquid, dignissimos quos? Unde eius fugiat deserunt praesentium?
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eligendi blanditiis reiciendis laborum consequatur? Iusto odit reprehenderit enim sunt totam ipsam debitis recusandae soluta commodi provident error, aut saepe deleniti.
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim illum fuga, consequatur nostrum tenetur voluptatibus minima quaerat quasi quod voluptates reprehenderit illo, dignissimos optio natus necessitatibus pariatur excepturi fugit incidunt.
			</p>
		</section>
		<section id="projects">
			
			<h3>
				<a href="#projects">This section is for Projects.</a>
			</h3>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit assumenda facilis ab mollitia fugiat quod blanditiis non, illo, facere totam ipsam iure dolorem repellat saepe ullam rem deserunt reiciendis? Labore?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora laboriosam recusandae amet, qui, laudantium enim quod sint expedita voluptate deleniti delectus numquam voluptatem cum unde eaque distinctio illum accusantium sed.
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus deleniti quisquam neque recusandae possimus excepturi inventore dolore, praesentium animi cupiditate unde ab illum natus officiis! Excepturi iste accusantium accusamus delectus.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit aliquam quidem quo quae dolorum quia aperiam doloribus corporis itaque veniam iure placeat aliquid, dignissimos quos? Unde eius fugiat deserunt praesentium?
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eligendi blanditiis reiciendis laborum consequatur? Iusto odit reprehenderit enim sunt totam ipsam debitis recusandae soluta commodi provident error, aut saepe deleniti.
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim illum fuga, consequatur nostrum tenetur voluptatibus minima quaerat quasi quod voluptates reprehenderit illo, dignissimos optio natus necessitatibus pariatur excepturi fugit incidunt.
			</p>
		</section>
		<section id="contacts">
			<h3>
				<a href="#contacts">This section is for Contacts.</a>
			</h3>
			<p>
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit assumenda facilis ab mollitia fugiat quod blanditiis non, illo, facere totam ipsam iure dolorem repellat saepe ullam rem deserunt reiciendis? Labore?
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora laboriosam recusandae amet, qui, laudantium enim quod sint expedita voluptate deleniti delectus numquam voluptatem cum unde eaque distinctio illum accusantium sed.
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus deleniti quisquam neque recusandae possimus excepturi inventore dolore, praesentium animi cupiditate unde ab illum natus officiis! Excepturi iste accusantium accusamus delectus.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit aliquam quidem quo quae dolorum quia aperiam doloribus corporis itaque veniam iure placeat aliquid, dignissimos quos? Unde eius fugiat deserunt praesentium?
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam eligendi blanditiis reiciendis laborum consequatur? Iusto odit reprehenderit enim sunt totam ipsam debitis recusandae soluta commodi provident error, aut saepe deleniti.
				Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim illum fuga, consequatur nostrum tenetur voluptatibus minima quaerat quasi quod voluptates reprehenderit illo, dignissimos optio natus necessitatibus pariatur excepturi fugit incidunt.
			</p>
		</section>
	</main>
	<Footer importedData={footerData}/>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: lightgray;
		font-size: 20px;
	}
	h1 a[href^="#"]::before, h3 a[href^="#"]::before{
		display: inline-block;
		width: 1rem;
		content: "#";
		text-decoration: underline;
		visibility: hidden;
		font-size: 1.25rem;
		margin-left: -1rem;

	}
	h1 a[href^="#"]:hover::before, h3 a[href^="#"]:hover::before{
		visibility: visible;
	}

	h1 a, h3 a{
		color:black;
		text-decoration: none;
	}
	
</style>
