---
import ''
---
<footer>
    <ul>
        <li>Linkedin: </li>
        <li>Email: </li>
        <li>Github: </li>
    </ul>
    This is the footer. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, deserunt! Deserunt debitis in dolor harum ipsa maiores animi alias. Veniam vel autem placeat magni sequi enim quasi quis eius explicabo.
</div>