---
import { Icon } from "astro-icon";

const { importedData } = Astro.props;
const { icon, title, href} = importedData;
---
<footer class="social">
    <ul class="social-group">
        {importedData.map((d:any) => (
            <a class="social-item-link" href={d.href}>
                <li class="social-item">
                    <Icon class="icon" name={d.icon} />
                    {d.title}
                </li>
            </a>
        ))}
    </ul>
</div>