---
import { Icon } from "astro-icon";

const { importedData } = Astro.props;
const { icon, title, href} = importedData;
---
<header class="navbar-header">
    <nav class="navbar">
        <ul class="navbar-list">
            {importedData.map((d:any) =>(
                    <li class="navbar-listitem">
                        <a class="navbar-listitem-link" href={d.href}>
                        <Icon class="icon" name={d.icon} />
                        {d.title}
                    </a>
                    </li>
            ))}
        </ul>
    </nav>
</header>
