---
interface Props {
	title: string;
}
import 'normalize.css';
import '../styles/navbar.scss';
import '../styles/general.scss';
import '../styles/footer.scss';
const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	@font-face{
		font-family: 'Roboto';
		src: url('/fonts/Roboto/Roboto-Regular.ttf') format('ttf');
	}
	@media screen and (max-width:48rem){
		body{
			padding:0rem 1rem !important;
			transition: 1s linear;
		}
	}
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: Roboto, system-ui, sans-serif;
		min-height: 100vh;
	}
	body{
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		padding: 0px 5rem;
		min-height: inherit;
		max-width: 67.5rem;
		transition: 1s linear;
		
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	
	
</style>
